body{
    font-family: 'Noto Serif', serif;
    margin: 0px;

}
html{
    box-sizing: content-box;


}
.header-landing{
    background-image: url("/images/bg6.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding-top: 15%;
}
.header-landing>h1{
    padding: 5px;
    margin:5px;
}
.header-landing>p{
    padding: 3px;
}
#logo-1{
    width: 60px;
    height: 60px;
    margin-top: 12px;
    margin-bottom:24px;
}
#mouse{
    padding-bottom: 20px;
    margin-top: 12%;
    padding-top: 20px;
}
.engagements{
    text-align: center;
    padding-top: 5vw;
    width: 90vw;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-left: 4vw;
    cursor: pointer;    
}
#wedo{
    width: 100%;
    text-align: center;

}
.products{
    width: 15vw;
    margin: 1vw;

}